# Ignora tutte le cartelle target
target/

# Ignora i file generati da maven
!.mvn/wrapper/maven-wrapper.jar

# Ignora i file di configurazione e gli altri IDE
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


.history/

# Ignora cartelle di test
test/

# Ignora impostazioni IDE
nb-configuration.xml
nbactions.xml

# Ignora Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# Ignora DB locali
mysql/
# Ignora Maven wrapper
mvnw
mvnw.cmd

# Ignora file NetBeans
nb-configuration.xml
nbactions.xml

# Ignora test
src/test/



# Ignora cartella Maven Wrapper
.mvn/

# Ignora le configurazioni Maven
maven-wrapper.properties