/* Tema chiaro */
.light-theme {
  background-color: #f0f0f0;
  color: #333;
}

.light-theme .calculator {
  background-color: white;
  border: 1px solid #ddd;
}

.light-theme .btn-light {
  background-color: #f1f1f1;
  color: #333;
}

.light-theme .btn-warning {
  background-color: #ffeb3b;
}

/* Tema scuro */
.dark-theme {
  background-color: #333;
  color: white;
}

.dark-theme .calculator {
  background-color: #222;
  border: 1px solid #444;
}

.dark-theme .btn-light {
  background-color: #555;
  color: white;
}

.dark-theme .btn-warning {
  background-color: #ff9800;
}

/* Tema colorato */
.colorful-theme {
  background-color: #4caf50;
  color: white;
}

.colorful-theme .calculator {
  background-color: #2196f3;
  border: 1px solid #fff;
}

.colorful-theme .btn-light {
  background-color: #ff5722;
  color: white;
}

.colorful-theme .btn-warning {
  background-color: #ffeb3b;
}
