/* HomePage.css */

/* Impostazioni di base */
.home-page {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #cedddd, #22c7a3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
}

/* Stile dell'header */
.header {
  background-color: #080747;
  color: white;
  width: 100%;
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
}

.header h1 {
  font-size: 3em;
  margin: 0;
}

.header p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Stile del contenuto principale */
.content {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn-go-to-calculator {
  background-color: #4CAF50;
  color: white;
  font-size: 1.2em;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-go-to-calculator:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Footer (Opzionale) */
.footer {
  margin-top: 50px;
  background-color: #0d09fa;
  color: white;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
}

/* Per garantire che il contenuto principale non vada sotto il footer */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

